/* Configuraciones en común a todas las paginas*/
body{
    background-image: url(../img/fondo-contacto.png); /*Fondo de pantalla del body*/
    background-size: cover;
    width: 98%;
}

/*Barra de navegación*/
a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
}

a:active{
    color: burlywood;
}

a:hover{
    color: gold;
    transition: all ease-in-out .2s;
}

.item{
    margin: auto;
    width: 20%;
    text-align: center;
    font-size: large;
}

.inicio{
    border: solid 2px red;
    padding: 5px;
}

.descargar{
    background-color: #E20000;
    color: white;
    font-size: large;
    padding-top: 5px;
}

.descargar span{
    font-weight: 800;
    color: #004e98;
}

.descargar:hover{
    background-color: #370a6d;
    transition: all ease-in-out .2s;
    color: white;
}

.descargar:hover span{
    color: #0496ff;
} /*Fin barra de navegacion*/

/*Comienzo de footer*/
footer .enlace{
    font-size: 40px;
    color: black;
}

.email{
    color: black;
    font-weight: 600;
    font-size: large;
    text-decoration: underline;
}

.email:hover{
    color: black;
}

footer .whatsapp{
    background-color: green;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 70px;
}

/* Configuraciones especifica de cada página*/
/*main de index.html*/
.contenedor-imagen{
    width: 100%;
    text-align: center;
}

.contenedor-imagen img{
    width: 20%;
    margin: auto;
}

.contenedor-imagen img:hover{
    transform: scale(1.1);
}

.parrafo-bienvenida{
    font-size: 20px;
    width: 50%;
    text-align: center;
    font-weight: 700;
    color: white;
    margin: auto;
    padding: 10px;
    border: solid 1px white;
}

.proyectos{
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 5px;
    width: 17%;
    margin: 7px auto;
}

.proyectos:hover{
    background-color: #370a6d;
    transition: all ease-in-out .2s;
    color: white;
}